<nav class="navbar" role="navigation">
    <ul class="nav nav-stacked">
        <li><a routerLink="/app/home">Brand</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/app/home">Home</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/app/todos">Todos</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/app/about">About</a></li>
    </ul>
</nav>